---
import DynamicIsland from '@components/DynamicIsland';
---
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Dynamic Island</title>
	</head>
	<body class='h-screen bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 overflow-hidden'>
		<DynamicIsland client:load />
	</body>
</html>
<script>
	console.log("Visit: https://github.com/felipetodev")
</script>